<section>
    <h1>Login</h1>
    <form action="/api/sessions/login" method="post" class="form-group" id="formularioLogin">
      <input type="text" name="email" placeholder="email">
      <br>
      <input type="text" name="password" placeholder="password">
      <br>
      <button>Enviar</button>
    </form>
    <a href="/api/sessions/github">Github</a>
</section>

<script>
  const form = document.querySelector('#formularioLogin')
  form.addEventListener('submit', async function(event){
    event.preventDefault()
    fetch('http://localhost:8080/api/sessions/login',{
      method:'POST',
      headers: {
        "Content-Type": "application/json",
        "authorization": localStorage.getItem('token')
      },
      body:
      if(result.status == 200){

      }
    })
  })
</script>